<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h4>Add comments</h4>
<div>
  <%= form_for ([@post, @post.comments.build]) do |f| %>
    <%= render partial: 'comments/form', locals: {f: f} %>
  <% end %>
</div>

<h4>Comments</h4>
<ul>
  <% @post.comments.each do |comment|%>
  <%next unless comment.persisted?%>
    <li><%= comment.body %> |
      <strong>Author:</strong> <%= comment.user.email %> |
      <%= link_to 'Edit', edit_post_comment_path(@post, comment) %> |
      <%= link_to 'Destroy', [@post, comment], :method => :delete, :confirm => "Are you sure?" %> </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>